<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Всё об ЭКГ</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/menu.css" rel="stylesheet" type="text/css">
    <script src="js/code.js"></script>
    
    <link rel="icon" href="karty/logo.png" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="nav ">
            <nav class="top-menu">
                <ul class="menu-main">
                <li class="left-item"> <img src="karty/illustration-of-medical-icon_53876-6167.jpg"alt="екг" style="padding: 1%; width:18%;"></li>
                 
                  <li class="right-item"><a href="/analys">Анализ</a></li>
                  <li class="right-item"><a href="/dowl" >Загрузка</a></li>
                  <li class="right-item"><a href="/teor">Теория</a></li>
              </ul>
              </nav>
              <a name="top"></a>
    </div>
        <div class="l1">
           <h1 style="font-size: 40px"> Анализируйте вашу ЭКГ<br> в реальном времени<br> с помощью нашего веб-сайта <br></h1>
           <p>Наш веб-сайт позволяет мгновенно проанализировать вашу электрокардиограмму и получить точный диагноз вашего сердечного ритма
           Загрузите файл своей электрокардиограммы и получите подробный анализ состояния сердца.Результаты будут доступны в формате отчета.</p>
        </div>
        <div class="l2">
            <img src="karty/doctor-makes-notes-papers-front-laptop_438099-6664.jpg"alt="врач" style="width: 90%;border-radius: 25px;">
        </div>
    <div class="empt">       
    </div>   
    <div class="text">
        <div id="t1">
            <img src="karty/doctor-monitoring-the-patient-s-pulse_23-2149372305.jpg"alt="врач" style="float: left; width: 30%; border-radius: 25px; padding-right: 30px;">
            <h2>Важность анализа ЭКГ<br></h2>
            <p>
                Анализ ЭКГ (электрокардиограммы) является важной клинической процедурой, которая позволяет оценить электрическую активность сердца.
            </p>
            <h2>Выявление нарушений работы сердца<br></h2>
            <p>
                Анализ ЭКГ может быть использован для проведения скрининга у лиц с высоким риском заболеваний сердца, что позволяет выявить сокрытые аномалии и предпринять меры для предотвращения серьезных осложнений.
                Некоторые из наиболее часто обнаруживаемых нарушений при анализе ЭКГ включают: инфаркт Миокарда, ишемию, нарушение ритма сердца.
            </p>
            <h2>Своевременное лечение<br></h2>
            
            <p>
                Регулярный анализ ЭКГ пациентов с сердечными проблемами или под угрозой инфаркта миокарда позволяет контролировать их состояние, определять эффективность лечения и принимать своевременные меры в случае обострения или неожиданных изменений.
            
            </p>
        </div>
         
    </div>
    <div class="main"> 
        <div id="c0"> 
        <h2 >Анализ результатов ЭКГ</h2>
        </div> 
        <div id="c1">График ЭКГ<br>
     <img src="karty/close-up-electrocardiogram.jpg"alt="екг" style="border-radius: 15px; width:90%;" class="scale">
        
        </div>  
        <div id="c2">Обнаружение<br>
            <img src="karty/portrait-woman.jpg"alt="екг" style="border-radius: 15px; width:90%;" class="scale">
        </div>  
        <div id="c3">Диагностика<br>
            <img src="karty/x-ray-shot-medical-equipment_23-2147648751.jpg"alt="екг" style="border-radius: 15px; width:90%;"class="scale"> 
        </div>  
    </div>
    <div class="empt1">       
    </div>    
    <div class="how">
        <img src="karty\close-up-of-man-hands-with-heart_380164-35488.jpg"alt="сердце" style="float: left; width: 50%; margin-right: 30px; margin-left: 5%; border-radius: 45px;">
     <p>
        <h2>Как снимают данные ЭКГ</h2>
        Исследование по времени занимает около 10-15 минут. Для проведения ЭКГ пациент ложится на кушетку. Врач обезжиривает участки кожи на грудной клетке и конечностях, на которые будут накладываться электроды. К запястьям и лодыжкам крепится по одному электроду согласно схеме:
        <br>
        к левой руке — желтый электрод;<br>
        к правой руке — красный электрод;<br>
        к правой ноге — черный электрод;<br>
        к левой ноге — зеленый электрод.<br>
        А также на грудную клетку накладывается еще 6 электродов. 
    </p>
    <p>
        После производится запись. 
        Снятие показателей происходит пошагово. Сперва регистрируют сигналы в стандартных отведениях. Затем переходят к усиленным, а заканчивают — грудными отведениями. <br>
        Результат ЭКГ фиксируется на специальную ленту и на компьютере.<br>
     </p>
    </div>
    <div class="empt2">       
    </div> 
    <div class="end">
        При возникновении ошибок просьба связаться с нами
    </div>
</div>
<a href="#top" id="back-to-top" class="back-to-top" title="Back to top">▲</a>
</body>