<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теория</title>
    <link rel="icon" href="karty/logo.png" type="image/x-icon">
    <link href="css/menu.css" rel="stylesheet" type="text/css">
    <link href="css/teorstl.css" rel="stylesheet" type="text/css">
    <link href="css/teorblock.css" rel="stylesheet" type="text/css">
    <link href="css/teorbl2.css" rel="stylesheet" type="text/css">
    <script src="js/code.js"></script>
    
</head>
<body>
    <div class="container">
    <div class="nav">
        <nav class="top-menu">
           <ul class="menu-main">
            <li class="left-item"><a href="/"  class="a1"><img src="karty/logo.png"alt="екг" style="padding: 2%; width:18%;"></a></li>
              <li class="right-item"><a href="/analys">Анализ</a></li>
              <li class="right-item"><a href="/dowl">Загрузка</a></li>
              <li class="right-item"><a id="tr">Теория</a></li>
          </ul>
          </nav>
</div>
<a name="top"></a>
<div class="teor">
    <p>
        ЭКГ основана на регистрации электрических потенциалов, которые возникают в сердечной мышце при её ритмичных сокращениях. Человеческое ухо слышит это как стук сердца.
    </p>
    <p>  Для регистрации электрических импульсов, генерируемых сердечной мышцей, применяется прибор электрокардиограф. Аппараты разные, обладают разными возможностями. Аппаратура на цифровых технологиях помогает представить информацию, полученную во время ЭКГ в удобном виде, и даже сразу предлагает вероятный диагноз.
    </p>
    <p>
        Результат ЭКГ представляет собой особый график, который бывает сложно правильно интерпретировать. Но если расшифровку сделать профессионально, то можно составить мнение не только о функции сердца, но и о процессах, происходящих во всём организме.

Одна лишь запись кардиограммы не позволяет сделать однозначные выводы о состоянии пациента. Поэтому ЭКГ дополняет комплекс обследования неврологического больного. Её данные синхронизируются с другими инструментальными методиками.
    </p>
</div>
<div class="teo1">
    <h2>Теоретическое обоснование методики</h2>
<p>
    Сердце – мышечный орган. Его сокращение и расслабление сопровождаются изменениями электрических потенциалов внутри кардиомиоцитов и в межклеточном пространстве.
</p>
<p>
    Изоэлектрические потенциалы сердца изменяются в зависимости от его состояния. Их регистрацию применяют в клинической практике с диагностической целью для выявления патологии сердечной мышцы. Как функционального (отмечается при вегетососудистой дистонии), так и органического (инфаркт, кардиосклероз), характера.
</p>
<p>
   <h3>Откуда берётся микроимпульс</h3> 
Электрические импульсы возникают в сердечной мышце вследствие того, что её клетки (кардиомиоциты), постоянно обмениваются с внеклеточной средой ионами натрия, калия, хлора и кальция. На определённом этапе возникает критическая разница потенциалов между внутренностью клетки и внешним пространством, что и приводит к возникновению короткого электроимпульса.

Каждая отдельная мышечная клетка, мышечное волокно и сердце в целом, являются источниками тока. Их электродвижущую силу можно измерить, поместив электрод непосредственно на мышцу, или недалеко от неё.
</p>
<p>
    Чтоб полно оценить электродвижущую силу, создаваемую диполем, необходимо помещать электроды для регистрации импульсов в разных областях этого поля.

Сердце, по сути, идентично источнику электрического поля, элементу питания с положительным и отрицательным полюсом. Между которыми ритмически проходит разряд, сопровождающийся сокращением мышцы.

Поэтому результат ЭКГ будет формироваться направлением силовых линий диполя и осью, на которой располагается электрод.


</p>
</div>
<div class="graf">
    <h3>
        График ЭКГ
        <img src="karty/rqst.png"alt="экг" style="float: right; width: 40%;">
    </h3>
    
    <p>
        
        Результирующий импульс, вектор, улавливается и выводится в визуальном виде электрокардиографом.
       
        В зависимости от типа прибора – на дисплей или бумагу. Результат при этом имеет сложной кривой линии с направленными вверх и вниз зубцами. На рисунке это P, Q, R, S, T. Зубец U бывает непостоянным и регистрируется у отдельных людей.
    </p>
    <p>
        Высота и глубина зубцов на электрокардиограмме определяется не только силой генерирующих их импульсов, но и удалённостью электрода от их источника. С удалением от источника тока, электрод воспринимает импульсы как более слабые. На расстоянии свыше 12 см, эта зависимость прослеживается нечётко.
    </p>
</div>
<div class="teo2">
<h3>Отведения записи ЭКГ</h3>
<p>
    Регистрация электрической деятельности сердца обеспечивается электродами, крепящимися к коже. Так называемые поверхностные отведения.
</p>
<p>
    Сейчас сложился стандарт, что кардиограмма снимается в 12 поверхностных отведениях. Датчики крепятся по одному на конечности и шесть прямо на кожу грудной клетки:

первое стандартное отведение – электрод красного цвета к правому запястью (I);<br>
второе стандартное отведение – жёлтый датчик на левое запястье (II);<br>
третье стандартное отведение – датчик с зелёной окраской на левую лодыжку (III);<br>
и шесть униполярных грудных электродов, крепящихся непосредственно над областью сердца.<br><br>
С рук и ног записываются 3 отведения (рука правая, левая и левая лодыжка), ещё 3 с усилением (по Гольдбергеру). В сумме с 6 электродами с грудной клетки (по Вильсону) и получается 12 отведений. Это минимальный объём регистрации ЭКГ.
</p>
</div>
<div class="norm">
    <div id="n0"><h3>Характеристика элементов нормальной экг</h3>
        ЭКГ состоит из зубцов, сегментов и интервалов, которые отражают процесс распространения возбуждения сердца.
    </div> 
    <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        
        <label for="tab1" title="Вкладка 1"> <p>Зубец Р</p><div></div></label>
        
        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Вкладка 2">Зубец Q<div></div></label>
     
        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="Вкладка 3">Зубец S<div></div></label>
     
        <input id="tab4" type="radio" name="tabs">
        <label for="tab4"  title="Вкладка 4">Зубец Т<div></div></label>
     
        <section id="content1">
            <p>
                Основные характеристики в норме:<br>
    
                1. Амплитуда — 0,5–2,5 мм.<br>

                2. Длительность — 0,66–0,1 с.<br>

                3. Форма — в зависимости от отведения монофазный, двухфазный.<br>

                4. Полярность — различная в зависимости от отведения:<br>

                а) всегда положительный в I, II, aVF, V2–V6 отведениях;<br>

                б) всегда отрицательный в отведениях aVR;<br>

                в) в зависимости от положения сердца в грудной клетке в III, aVL, V1 отведениях может быть положительным, отрицатель­ным, двухфазным.<br>
            </p>
        </section>  
        <section id="content2">
            <p>
                Зубец Q обусловлен вектором деполяризации межжелудочковой перегородки, который действует в течение 0,02 с. Его ориентация во фронтальной плоскости слева направо и несколько вверх, а в горизонтальной — слева направо и вперед. На рис. 24 пока­зано, как отражается вектор зубца Q на ЭКГ во фронтальной и горизонтальной плоскостях.
            </p>
            <p>
                Основные характеристики в норме:<br>
    
                1. Амплитуда (определяется относительно зубца R) — не должна превышать 1/4 зубца R (кроме отведения aVR).<br>
                
                2. Длительность (ширина) — не более 0,03 с.<br>
                
                3. Отсутствует в отведениях V1–V3, тогда как в других отведе­ниях может быть зарегистрирован.<br>
                
                4. В отведении aVR может быть зафиксирован глубокий и широкий зубец Q или QS.<br>
            </p>
        </section> 
        <section id="content3">
            <p>
                Зубец S в большинстве отведений обусловлен вектором возбуждения (третьим, конечным 0,06 с) базальных отделов межжелу­дочковой перегородки правого и левого желудочков. Его ориентация во фронтальной и горизонтальной плоскостях подвержена у здоровых людей значительным колебаниям. Чаще во фронтальной плоскости он направлен вверх, вправо и назад, а в горизонтальной проецируется преимущественно на отрицательную сторону осей отведений V1–V2
            </p>
            <p>
                Основные характеристики в норме:<br>

            1. Амплитуда зубца S колеблется в больших пределах, но не превышает 20 мм.<br>

            2. В грудных отведениях зубец S постепенно уменьшается от V1, V2 до V4, а в отведениях V5, V6 имеет малую амплитуду или отсутствует.
            <br>
            3. Равенство зубцов R и S в грудных отведениях (переходная зона) обычно отмечается в V3, реже между V2 и V3 или V3–V4. Амплитуда и соотношение зубцов QRS зависит от поворотов оси сердца вокруг трех его осей: переднезадней, продольной, сагиттальной. Максимальная продолжительность комплекса не превышает 0,1 с.<br>
            </p>
        </section> 
        <section id="content4">
            <p>
                Зубец Т отражает процесс реполяризации миокарда желудочков. Обычно во фронтальной и горизонтальной плоскостях он имеет направление, аналогичное среднему вектору деполяризации желудочков. Поэтому в большинстве отведений, где регистрируется высокий зубец R, зубец Т также имеет положительное значение.
            </p>
            <p>
                Основные характеристики зубца Т в норме:<br>
                
                1. Зубец Т всегда положительный в I, II, aVF, V2–V6 отведениях, при этом T1 больше, чем Т3, а Т в отведении V6 больше, чем в V1.<br>
                
                2. В зависимости от положения сердца в грудной клетке зубец Т может быть положительным, двуфазным и отрицательным в отведениях III, aVL, V1.<br>
                
                3. В отведении aVR зубец Т всегда отрицательный.<br>
            </p>
        </section>    
    </div>
    <div class="tab">
        <input id="tab21" type="radio" name="tab" checked>
        
        <label for="tab21" title="Вкладка 1"> <p>Интервал Р–Q(R)</p><div></div></label>
        
        <input id="tab22" type="radio" name="tab">
        <label for="tab22" title="Вкладка 2">Сегмент RS–T<div></div></label>
     
        <input id="tab23" type="radio" name="tab">
        <label for="tab23" title="Вкладка 3">Интервал Q–T (QRST)<div></div></label>
     
        <input id="tab24" type="radio" name="tab">
        <label for="tab24" title="Вкладка 4">Сегмент ТР<div></div></label>
     
        <section id="content21">
            <p>
                Интервал Р–Q(R) измеряется от начала зубца Р до начала желудочкового комплекса QRS. Он отражает дли­тельность атриовентрикулярного проведения, т. е. время распростране­ния возбуждения по предсердиям, АВ-узлу, ПГ и его разветвлениям. В состав интервала PQ входит сегмент PQ, который измеряется от конца зубца Р до начала желудочкового комплекса.

                Основные характеристики в норме:<br>
                
                1. Длительность — 0,12–0,20 с.<br>
            </p>
        </section>  
        <section id="content22">
            <p>
                Сегмент RS–T — это отрезок от конца комплекса QRS до начала зубца Т. Он соответствует периоду полного охвата возбуждением обоих желудочков. Точка перехода комплекса QRS в сегмент RS–T обозначается как точка RS–T соединения (j). Отклонение точки j от изолинии используют для количественной оценки смещения сегмента RS–T.

                Основные характеристики в норме:<br>
                
                1. Сегмент RS–T в отведениях от конечностей расположен на изолинии или ±0,5 мм.<br>
                
                2. В грудных отведениях V1–V3 допускается смещение сегмента RS–Т вверх от изолинии (не более 2 мм), а в отведениях V4–V6 — вниз (не более 0,5 мм).<br>
            </p>
        </section> 
        <section id="content23">
            <p>
                Интервал Q–T (QRST) измеряется от начала комплекса QRS до конца зубца Т и соответствует периоду электрической систолы желудочков. В этот период возбуждаются все отделы желудочков сердца. Нормальная длительность интервала Q–T определяется по формуле Базетта Q–T = К  (R–R), где К — коэффи­циент, равный у мужчин 0,37, у женщин — 0,39, у детей — 0,38. R–R — длительность одного сердеч­ного цикла.

                Основные характеристики интервала в норме:<br>
                
                1. Длительность интервала Q–T равняется 0,35–0,44 с.<br>
            </p>
        </section> 
        <section id="content24">
            <p>
                Сегмент ТР регистрируется от конца зубца Т или U до начала зубца Р следующего комплекса и соответствует диасто­ле желудочков и предсердий, во время которой отсутствует электри­ческая активность сердца.

                Основные характеристики сегмента ТР в норме:<br>
                
                1. Сегмент ТР расположен на изоэлектрической линии.<br>
            </p>
        </section>    
    </div>
</div>
<div class="end">
    При возникновении ошибок просьба связаться с нами
</div>
</div>
<a href="#top" id="back-to-top" class="back-to-top" title="Back to top">▲</a>
</body>