body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
div {
    padding-bottom: 2%;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit 6, 1fr);
    grid-template-rows: repeat(auto-fit 13,1fr);
    /*auto-fill или auto-fit  в рипит*/
    background-color: rgb(133, 216, 188);
  }
  .nav{
    grid-column: 1/7;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    margin-top: 2%;
    padding-bottom: 0;

  } 
  .teor{
    grid-column: 1/7;
    grid-row: 2/4;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
  } 
  .teo1{
    grid-column: 1/7;
    grid-row: 4/6;
    margin-top: 2%;
   /* background-color: rgba(0, 2, 105, 0.644);*/
   background-color: rgb(8, 13, 48);
    color: #ffffff;
    padding: 8%;
  } 

  .graf{
    grid-column: 1/7;
    grid-row: 6/8;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 15px;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    padding: 2%;
  } 
  .teo2{
    grid-column: 1/7;
    grid-row: 8/10;
    margin-top: 2%;
   /* background-color: rgba(0, 2, 105, 0.644);*/
   background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 8%;
  } 
  .norm{
    grid-column: 1/7;
    grid-row: 10/12;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat( auto-fit 6, 1fr);
    grid-template-rows: repeat(auto-fit  7,1fr);
 
  }
  #n0{
    text-align: center;
    grid-column: 1/7;
    grid-row: 1/2;
}
  .end{
    grid-column: 1/7;
    grid-row: 12/13;
    background-color: rgb(133, 216, 188);
    text-align: center;
    padding: 2%;
  } 
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 30px;
  color: #fff;
  background: rgb(28, 37, 66);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
}
 
.back-to-top:hover {
  background: rgb(216, 216, 216);
  color: rgb(28, 37, 66);
  text-decoration: none;
}