.tab {
    width: 100%;
    padding: 0px;
    margin: 0 auto; 
    grid-column: 1/7;
    grid-row: 4/6;
  }
  
  
  /* стили вкладок (табов) */
  .tab label {
    display: table-cell;
    width:2%;
    height:30px;
    margin: 0 0 -1px;
    padding: 15px 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align:middle;
    color: #585858;
    background:#32ccbf;


  }

  /* изменения стиля заголовков вкладок при наведении */
  .tab label:hover {
    color: #000000;
    cursor: pointer;
  }
  /* стили для активной вкладки */
  .tab input:checked + label {
    color: #0a043a;
    background: #fff;
  }
  
  .tab input:checked + label > div:after {
    content: '';
    position: absolute;
    margin-left:-15px;
    border-top-color: #292929;
   }
  
  /* активация секций с помощью переключателя :checked */
  #tab21:checked ~ #content21,
  #tab22:checked ~ #content22,
  #tab23:checked ~ #content23,
  #tab24:checked ~ #content24 {
    display: block;
  }
  
  /* стили секций с содержанием */
  section {
    display: none;
    padding: 15px;
    background: #fff;
  }
  .tab input {
    display: none;
  }